.cabecalho__menu-hamburguer{
   width: 24px;
   height: 24px;
   background-image: url(../img/Menu.svg);
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
}

.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative; /* Para usar o absolute no menu*/
}

.cabecalho__container{
    display: flex;
    align-items: center;
}

.cabecalho__container--titulo{
    display: none;
}

.cabecalho__container-imagem{
    padding: 1em;
}


/* MENU*/

.lista-menu{
    display: none;
    width: 60vw;

    position: absolute;
    top: 100%;
}

.container__botao{
    display: none;
}

.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo,
.lista-menu__item{
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    text-transform: uppercase;
}


.opcoes{
    display: none;
}


@media screen and (min-width:1024px){
    
    .cabecalho__container--titulo{
        display: block;
        font-family: var(--font-secundaria);
        font-size: 30px;
    }

    .cabecalho__container--titulo strong{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho__imagem-favoritos{
        display: none;
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }

    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }
}